@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  --color-app-brand-primary: var(--app-brand-primary);
  --color-app-brand-secondary: var(--app-brand-secondary);
  --color-app-brand-dark: var(--app-brand-dark);
  --color-app-brand-light: var(--app-brand-light);
  --color-app-brand-white: var(--app-brand-white);

  --color-app-system-info: var(--app-system-info);
  --color-app-system-warning: var(--app-system-warning);
  --color-app-system-success: var(--app-system-success);
  --color-app-system-danger: var(--app-system-danger);
  --color-app-system-cyan: var(--app-system-cyan);
  --color-app-system-orange: var(--app-system-orange);
  --color-app-system-indigo: var(--app-system-indigo);
  --color-app-system-purple: var(--app-system-purple);
  --color-app-system-pink: var(--app-system-pink);
  --color-app-system-teal: var(--app-system-teal);

  --color-app-light-cyan: var(--app-light-cyan);
  --color-app-light-danger: var(--app-light-danger);
  --color-app-light-grey: var(--app-light-grey);
  --color-app-light-indigo: var(--app-light-indigo);
  --color-app-light-info: var(--app-light-info);
  --color-app-light-orange: var(--app-light-orange);
  --color-app-light-pink: var(--app-light-pink);
  --color-app-light-primary: var(--app-light-primary);
  --color-app-light-purple: var(--app-light-purple);
  --color-app-light-secondary: var(--app-light-secondary);
  --color-app-light-success: var(--app-light-success);
  --color-app-light-teal: var(--app-light-teal);
  --color-app-light-warning: var(--app-light-warning);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

:root {
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.61 0.11 222);
  --primary-foreground: oklch(0.98 0.02 201);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.87 0.12 207);
  --chart-2: oklch(0.8 0.13 212);
  --chart-3: oklch(0.71 0.13 215);
  --chart-4: oklch(0.61 0.11 222);
  --chart-5: oklch(0.52 0.09 223);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.61 0.11 222);
  --sidebar-primary-foreground: oklch(0.98 0.02 201);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);

  /* APP THEME */
  --app-brand-primary: oklch(78.39% 0.153 61);
  --app-brand-secondary: oklch(28.75% 0.07 250.23);
  --app-brand-dark: oklch(28.88% 0.075 267.95);
  --app-brand-light: oklch(98.46% 0.002 247.84);
  --app-brand-white: oklch(100% 0 0);

  --app-system-info: oklch(53.67% 0.229 262.17);
  --app-system-warning: oklch(86.17% 0.173 88.96);
  --app-system-success: oklch(73.16% 0.178 152.82);
  --app-system-danger: oklch(62.8% 0.258 29.23);
  --app-system-cyan: oklch(69.54% 0.127 220.99);
  --app-system-orange: oklch(61.97% 0.191 38.5);
  --app-system-indigo: oklch(45.1% 0.222 272.3);
  --app-system-purple: oklch(52.28% 0.251 286.17);
  --app-system-pink: oklch(60.26% 0.23 351.62);
  --app-system-teal: oklch(59.63% 0.104 182.21);

  --app-light-cyan: oklch(96.89% 0.016 211.04);
  --app-light-danger: oklch(94.95% 0.025 17.6);
  --app-light-grey: oklch(99.7% 0 0);
  --app-light-indigo: oklch(95.02% 0.019 286.04);
  --app-light-info: oklch(95.67% 0.019 263.01);
  --app-light-orange: oklch(96.1% 0.016 42.38);
  --app-light-pink: oklch(95.64% 0.023 341.32);
  --app-light-primary: oklch(97.8% 0.014 64.35);
  --app-light-purple: oklch(95.49% 0.023 299.37);
  --app-light-secondary: oklch(93.49% 0.006 239.82);
  --app-light-success: oklch(97.25% 0.018 161.13);
  --app-light-teal: oklch(96.09% 0.013 190.96);
  --app-light-warning: oklch(98.47% 0.022 92.5);

  --app-shadow-brand-primary: 0 3px 10px rgba(254, 159, 67, 0.5);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.71 0.13 215);
  --primary-foreground: oklch(0.3 0.05 230);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.87 0.12 207);
  --chart-2: oklch(0.8 0.13 212);
  --chart-3: oklch(0.71 0.13 215);
  --chart-4: oklch(0.61 0.11 222);
  --chart-5: oklch(0.52 0.09 223);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.8 0.13 212);
  --sidebar-primary-foreground: oklch(0.3 0.05 230);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    @apply bg-background text-foreground;
  }
}

html {
  font-size: 16px;
}
